---
---

@import "{{ site.theme }}";
.page-header { 
  color: #fff;
  text-align: center;
  background-color: #E196FF;
  background-image: linear-gradient(150deg,  #001BFF, #010313);
  height: 500px;

}
